/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e6485;
  --ifm-color-primary-dark: #2e6485;
  --ifm-color-primary-darker: #2e6485;
  --ifm-color-primary-darkest: rgb(32, 64, 93);
  --ifm-color-primary-light: #2e6f85;
  --ifm-color-primary-lighter: #2e6485;
  --ifm-color-primary-lightest: #2e6485;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2e6485;
  --ifm-color-primary-dark: #2e6485;
  --ifm-color-primary-darker: #2e6485;
  --ifm-color-primary-darkest: rgb(26, 107, 136);
  --ifm-color-primary-light: #2e6485;
  --ifm-color-primary-lighter: #2e6485;
  --ifm-color-primary-lightest: #2e6485;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
